OPENVPN_CONFIG_PATH=./openvpn-config/openvpn.ovpn


# this is the default stream URL, you may set it to other channel by replacing abema-news with the channel name in the URL
STREAM_URL=https://abema.tv/now-on-air/abema-news

ENABLE_EPG=true
EPG_LINK="https://raw.githubusercontent.com/dbghelp/Abema-TV-EPG/refs/heads/main/abema.xml"
EPG_BASE_STREAM_URL="https://abema.tv/now-on-air/"

PORT=8080

#Switch to your timezone
TZ=Asia/Hong_Kong